body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  @include background(color(white), color(black));
  display: flex;
  flex-direction: column;
}

main .content {
  align-items: start;
  gap: 1.5rem;
}
