:root {
  --content-padding: 2rem 1.5rem;
}

@media (min-width: 50rem) {
  :root {
    --content-padding: 3rem;
  }
}


.content {
  @include flex(column);
  margin: 0 auto;
  max-width: #{min(75rem, 100vw)};
  overflow-x: hidden;
  padding: var(--content-padding);
  width: 100%;
}
