:root {
  --header-height: 6rem;
  --header-nav-height: 100%;
  --header-nav-width: 16rem;
}

@media (min-width: 50rem) {
  :root {
    --header-height: 8rem;
    --header-nav-height: auto;
    --header-nav-width: auto;
  }
}


header {
  @include background(color(white), color(primary));
  @include position(fixed, 0);
  @include size(100%, var(--header-height));
  box-shadow: 0 0 1rem 0 rgba(color(black), 0.15);
  transition: background .25s, box-shadow .25s, color .25s;
  z-index: 1;

  .content {
    @include flex(row, 2rem);
    align-items: center;
    justify-content: stretch;
  }

  .logo {
    @include size(auto, 2rem);
    background-image: url('../../assets/images/logos/geneviv-indigo.svg');
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: contain;
    flex: 1 0;
  }

  &.ghost {
    @include background(none, color(white));
    box-shadow: none;

    .logo {
      background-image: url('../../assets/images/logos/geneviv-white.svg');
    }
  }
}


/*
  navigation
*/

header {
  .nav {
    @include background(color(neutral), color(white));
    @include flex(column, .5rem);
    @include position(fixed, 0, #{calc(-1*var(--header-nav-width))});
    @include size(#{var(--header-nav-width)}, #{var(--header-nav-height)});
    padding: #{calc(var(--header-height) + 2rem) 0 0};
    text-transform: uppercase;
    transition: right .5s;
    z-index: 1;

    &.active {
      right: 0;
    }

    a {
      padding: .5rem 2rem;
      width: 100%;
    }

    a:hover {
      @include background(color(neutral, 3), color(black));
    }
  }

  .nav-toggle {
    @include position(fixed, 2rem, 2rem);
    color: color(primary);
    font-size: 2rem;
    transition: color .5s;
    z-index: 2;

    &.active {
      color: color(white);
    }
  }

  &.ghost .nav-toggle {
    color: color(white);
  }
}


@media (min-width: 50rem) {
  header {
    .nav,
    .nav.active {
      @include background(none, inherit);
      @include flex(row, 1.5rem);
      @include position(relative);
      @include size(auto);
      padding: 0;

      a, a:hover {
        @include background(none, inherit);
        padding: 0;
        width: auto;
      }
    }

    .nav-toggle {
      display: none;
    }
  }
}
